/* 块级元素挂载容器样式。 */
.ce-block-item {
  position: absolute;
  z-index: 0;
  overflow: hidden;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid rgb(235 236 240);
}

/* 块级元素挂载容器样式。 */
.ce-block-item__disabled {
  pointer-events: none;
}
